.main {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .description {
    width: 100px;
    height: 100px;
} */
img {
    display: block;
    width: 100%;
}