/* Select an element by the tag name */
body {
    font-family: "Arial Narrow"; 
}
/* Selection by class name */
.main{
    font-family: "oswald";
}
.u-item{
    color: blue;
}
/* Selection by ID */
#u-item-2{
    color: orange;
    text-transform: uppercase;
}
/* other css selectors */
p:nth-child(5){
    color: red;
}
p:nth-of-type(3){
    font-weight: 700;
}

img {
    border-radius: 20px;
}
footer ul {
    list-style: none;
   
}
footer ul li {
    display: inline;
}